---
import DeveloperBio from '../components/DeveloperBio.astro'
import DeveloperSkill from '../components/DeveloperSkill.astro'
import ProfileSummary from '../components/ProfileSummary.astro'
import Project from '../components/Project.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="João Silva - Desenvolvedor Fullstack ">
	<div class="main-layout">
		<header>
			<div class="wrapper">
				<ProfileSummary />
			</div>
		</header>
		<main>
			<section>
				<div class="wrapper">
					<DeveloperBio />
				</div>
			</section>

			<section>
				<div class="wrapper">
					<h2>Tecnologias</h2>
					<p>Estas sao as tecnologias que eu utilizo para desenvolver meus projetos.</p>
					<div class="container-grid">
						<DeveloperSkill
							title="Javascript"
							body="Desenvolvo aplicações dinâmicas e interativas usando JavaScript puro e frameworks como React."
						/>
						<DeveloperSkill
							title="Python"
							body="Utilizo Python para desenvolvimento backend e automação de tarefas, incluindo frameworks como Django e Flask."
						/>
						<DeveloperSkill
							title="PHP"
							body="Utilizo PHP para desenvolvimento backend e automação de tarefas, incluindo frameworks como Laravel."
						/>
						<DeveloperSkill
							title="HTML e CSS"
							body="Utilizo HTML e CSS para desenvolvimento frontend e design responsivo."
						/>

						<DeveloperSkill
							title="Node.js"
							body="Utilizo Node.js para desenvolvimento backend e automação de tarefas, incluindo frameworks como Express."
						/>

						<DeveloperSkill
							title="Banco de Dados"
							body="Utilizo MySQL e PostgreSQL para desenvolvimento backend e automação de tarefas."
						/>
					</div>
				</div>
			</section>

			<section>
				<div class="wrapper">
					<h2>Projetos</h2>
					<p>Estes sao alguns dos projetos que eu fiz.</p>

					<div class="container-grid">
						<Project
							href="#"
							title="Editor de Vídeos com Intligencência Artificial"
							body="Editor de vídeos com IA com Next.js e Styled Components e Tailwind CSS"
							image="/project1.avif"
						/>

						<Project
							href="#"
							title=" SaaS"
							body="Projeto SaaS com Next.js e Tailwind CSS"
							image="/project2.avif"
						/>

						<Project
							href="#"
							title="Portfólio Developer Mininalista"
							body="Moderno portfólio com Next.js, Tailwind CSS e Styled Components"
							image="/project3.avif"
						/>

						<Project
							href="#"
							title="Portfólio Developer Mininalista"
							body="Astro Build"
							body="Tailwind CSS"
							body="Styled Components"
							image="/project3.avif"
						/>
					</div>
				</div>
			</section>

			<section>
				<div class="wrapper">
					<h2>Redes sociais</h2>
					<p>Estas sao as redes sociais que eu utilizo para compartilhar meus projetos.</p>
				</div>
			</section>
		</main>

		<footer>
			<section>
				<div class="wrapper">
					<h2>Footer</h2>
				</div>
			</section>
		</footer>
	</div>

	<style>
		header {
			margin-top: var(--space-xl);
		}

		.container-grid {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			gap: var(--space-lg);
			margin-top: var(--space-lg);
		}
	</style>
</Layout>
