---
interface Props {
	title: string
	body: string
}

const { title, body } = Astro.props
---

<div class="skill-card">
	<h3>{title}</h3>
	<p>
		{body}
	</p>
</div>

<style>
	.skill-card {
		background-color: var(--card-color);
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius-md);
		padding: var(--space-md);
		text-align: center;

		display: flex;
		flex-direction: column;
		align-items: center;
		transition:
			transform 0.3s,
			box-shadow 0.3s;
	}

	.skill-card h3 {
		color: var(--text-color);
		margin-bottom: var(--space-sm);
	}

	.skill-card p {
		color: var(--paragraph-color);
		font-size: var(--font-size-sm);
	}

	.skill-card:hover {
		transform: translateY(-5px);
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	}
</style>
