---

---

<h2>Sobre mim</h2>

<article class="about">
	<p>
		Olá! Sou João Silva, um desenvolvedor fullstack apaixonado por tecnologia e inovação, baseado no
		Distrito Federal. Com 5 anos de experiência em desenvolvimento web, tenho uma forte base em
		linguagens como JavaScript, Python e PHP, além de frameworks como React e Node.js. Recentemente,
		desenvolvi um aplicativo que melhorou a eficiência de uma equipe em 30%.
	</p>
	<p>Quando não estou codificando, gosto de explorar novas tecnologias e ler sobre inovação.</p>

	<a href="#" class="button" aria-label="Conheça mais sobre a minha história profissional"
		>Conheça minha história</a
	>
</article>

<style>
	.about {
		display: grid;
		gap: var(--space-sm);
	}

	.button {
		background-color: var(--primary-color);
		color: var(--text-color);
		padding: var(--space-sm) var(--space-md);
		border-radius: var(--border-radius-sm);
		font-weight: 500;
		text-decoration: none;
		width: fit-content;
		margin-top: var(--space-md);
		transition: filter 0.2s;
	}

	.button:hover {
		filter: brightness(0.8);
	}
</style>
